@media only screen and (min-width: 320px) and (max-width: 767px) {
/* 360 */

/* safety */
.article_safety {
    flex-direction: column-reverse;
}

.safety_text {
    width: 100%;
    margin: 30px 0 ;
    text-align: center;
    word-break: keep-all;
    padding: 0 10px;
    box-sizing: border-box;
 
    }

    .safety_text > span {
        font-size: 6.1111vw;
        /* 22 */
    }

    .safety_text > p {
        line-height: 220%;
    font-size: 3.8889vw;
    /* 14 */
    }

    .safety_text > a > img {
      margin: 40px 0 30px 0;
    }
    

    .safety_img{
        width: 100%;
        margin:0;
        align-items: flex-start;
        box-sizing: border-box;

    }

    .safety_img > img {
        margin: 0 auto;
    }

    .safety_img >img:first-of-type {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .safety_img >img:last-of-type {
        margin-bottom: 30px;
    }

    .imgIcon {
        align-items: center;
    }
/* news */

.article_news_inner {
    height: auto;
    flex-direction: column;
}

.news_title {
width: 100%;
height: 180px;
}

.news_contents {
    width: 100%;
    height: auto;
    padding: 60px 10px;
    box-sizing: border-box;
}

.news_contents_info_list {
    display: block;
    margin: 0 0 30px 24px;
    word-break: keep-all;
}

.news_contents_info_list > time {
    font-size: 14px;
    margin-bottom: 20px;
}

.news_contents_info_list > a:first-of-type {
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 2px 6px;
    margin: 26px 0 14px 0;
}

.news_contents_info_list > a:last-of-type {
    font-size: 12px;
    line-height: 200%;
}

.news_btn_img >a > img {
    width: 160px;
}


/* footer */
.footer_top_menu {
    max-width: 767px;
}

.footer_top_menu_list  {
    font-size: 12px;
}

.footer_top_menu_list > a > i {
    /* margin-right: 60px; */
    margin-right: 5vw;
}

/*  */

.footer_info {
    max-width: 767px;
     padding: 8.3333vw 5.5556vw 50px 5.5556vw;
     /* padding: 30 20px */
}

.footer_company_info {
    margin-bottom: 50px;
    flex-direction: column;
}

.footer_company_info_list:first-child {
    margin-bottom: 30px;

}

.footer_company_info_list:first-child > img {
    width: 120px;
}

.footer_company_info_list:nth-child(2) {

    margin-bottom: 30px;
    /* 50 */
    font-size: 12px;
    /* 12 */
    text-align: center;
}

.footer_company_info_list:nth-child(2) > span {
    margin-bottom: 14px;
} 
/* 주소, 번호 */

.footer_company_info_list:nth-child(2) > address {
    line-height: 160%;
}


.footer_company_info_list:nth-child(3){
    margin-bottom: 30px;
    font-size: 12px;
    /* 12 */

}
/* 프라이버시 */

.footer_company_info_list:last-child > a{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    font-size: 12px;
}

.footer_company_info_list:last-child > a > img {
    width: 20px;
    margin-right: 10px;
}

.footer_info_inner > p {
    text-align: center;
}


.topBtn {
    bottom: 20px;
right: 20px;
}

.topBtn > i {
    font-size: 28px;
    }


}