@media only screen and (min-width: 320px) and (max-width: 767px) {
/* 360 */

/* nav */

#header {
    display: none;
}

.header_toggle_btn_open{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    position: fixed;
    top: 0;
    left:0;
    background-color: var(--color-green);
    z-index: 10000;
    overflow-y: hidden;
}

.header_toggle_menu_logo {
    width: auto;
    height: auto;
    position: absolute;
    top: 26px;
    right: 8%;
}

.header_toggle_menu_logo > img {
    width: 60px;
    height: auto;
}

.header_toggle_menu{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.header_toggle_menu > li > a {
    font-size: 16px;
    color: white;
    font-weight: var(--weight-semi-bold);
}


.header_toggle_menu > li:not(:last-child) {
    margin-bottom: 50px;
}


/* home */

.home_img_logo{
    width: 150px;
    height: 150px;   
}

.home_img_logo > img {
    width: 80px;
}

.home_img_text > img {
    width: 60px;

}


.home_img_indicator_list{
    width: 8px;
    height: 8px;
}

.home_img_company_intro {
    width: 160px;
    height: 160px;
    right: 10%;
    bottom: -70px;
}

.home_img_company_intro > a >img {
    width: 36px;
    height: auto;
    position: absolute;
    left:39%;
    bottom: 120px;
}

.home_img_company_intro > a > span {
    font-size: 10px;
    border-bottom: 2px dotted var(--color-green);
    left:16%;
    bottom: 80px;
    line-height: 150%;
}

/* news */

.article_news_inner {
    height: auto;
    flex-direction: column;
}

.news_title {
width: 100%;
height: 180px;

}

.news_contents {
    width: 100%;
    height: auto;
    padding: 60px 10px;
    box-sizing: border-box;
}

.news_contents_info_list {
    display: block;
    margin: 0 0 30px 24px;
    word-break: keep-all;
}

.news_contents_info_list > time {
    font-size: 16px;
    margin-bottom: 20px;
}

.news_contents_info_list > a:first-of-type {
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 2px 6px;
    margin: 26px 0 14px 0;
}

.news_contents_info_list > a:last-of-type {
    font-size: 14px;
    line-height: 200%;
}

.news_btn_img >a > img {
    width: 160px;
}

/* safety */
.safety_inner  {
    flex-direction: column-reverse;
}

.safety_text {
    width: 100%;
    margin: 30px 0 ;
    text-align: center;
    word-break: keep-all;
    padding: 0 10px;
    box-sizing: border-box;
 
    }

    .safety_text > span {
        font-size: 20px;
    }

    .safety_text > p {
        line-height: 220%;
        font-size: 16px;
    }

    .safety_text > a > img {
        width: 29.0323vw;
        /* 180, 620 */
        min-width: 150px;
      margin: 40px 0 30px 0;
    }
    

    .safety_img{
        width: 100%;
        margin:0;
        align-items: flex-start;

    }

    .safety_img > img {
        margin: 0 auto;
    }

    .safety_img >img:first-of-type {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .safety_img >img:last-of-type {
        margin-bottom: 30px;
    }

    .imgIcon {
        align-items: center;
    }

    .imgIcon > img {
        max-width: 40px;
        width: 19.4444vw;
    }

    /* works */

    .works_inner {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .works_text {
        width: 100%;
        margin: 30px 0 ;
        text-align: center;
        word-break: keep-all;
        padding: 0 10px;
        box-sizing: border-box;
        }
    
        .works_text > span {
        font-size: 20px;
        }

        .works_work {
            display: flex;
            justify-content:center;
  
        }

        .works_work > li {
            width: 22.2222vw;
            max-width: 100px;
            /* height: 30px; */
            height: 30;
            font-size: 12px;
            line-height: 30px;
            float: inherit;
            margin-right: 2.7778vw;
            /* margin-right: 10px; */
        }

        .works_text > p {
            line-height: 220%;
            font-size: 16px;
        /* 620 */
        }
    
        .works_text > a > img {
            width: 29.0323vw;
            /* 180, 620 */
            min-width: 150px;
          margin: 40px 0 30px 0;
        }
        
        .works_img{
            width: 90%;
            margin: 30px auto;
        }
    
        .works_img > img {
            margin: 0 auto;
        }


/* footer */
.footer_top_menu {
    max-width: 767px;
}

.footer_top_menu_list  {
    font-size: 12px;
}

.footer_top_menu_list > a > i {
    /* margin-right: 60px; */
    margin-right: 5vw;
}

/*  */

.footer_info {
    max-width: 767px;
     padding: 8.3333vw 5.5556vw 50px 5.5556vw;
     /* padding: 30 20px */
}

.footer_company_info {
    margin-bottom: 50px;
    flex-direction: column;
}

.footer_company_info_list:first-child {
    margin-bottom: 30px;

}

.footer_company_info_list:first-child > img {
    width: 120px;
}

.footer_company_info_list:nth-child(2) {

    margin-bottom: 30px;
    /* 50 */
    font-size: 12px;
    /* 12 */
    text-align: center;
}

.footer_company_info_list:nth-child(2) > span {
    margin-bottom: 14px;
} 
/* 주소, 번호 */

.footer_company_info_list:nth-child(2) > address {
    line-height: 160%;
}


.footer_company_info_list:nth-child(3){
    margin-bottom: 30px;
    font-size: 12px;
    /* 12 */

}
/* 프라이버시 */

.footer_company_info_list:last-child > a{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    font-size: 12px;
}

.footer_company_info_list:last-child > a > img {
    width: 20px;
    margin-right: 10px;
}

.footer_info_inner > p {
    text-align: center;
}


.topBtn {
    bottom: 20px;
right: 20px;
}

.topBtn > i {
    font-size: 28px;
    }


}