@media only screen and (min-width: 1025px) {
/* footer */

.footer_top_menu {
    max-width: 1920px;
}

.footer_top_menu_list {
    padding: 50px 0;
}

.footer_top_menu_list > a > i {
    /* margin-right: 60px; */
    margin-right: 5vw;
}

/*  */

.footer_info {

    max-width: 1920px;

     padding: 60px 8.3333vw 40px 8.3333vw;
}

.footer_company_info {

    margin-bottom: 100px;
}

.footer_company_info_list:first-child {

    margin-right: 4.1667vw;
    /* 50 */
}

.footer_company_info_list:first-child > img {
    width: 210px;
}

.footer_company_info_list:nth-child(2) {

    margin-right: 6.6667vw;
    /* 80 */

    font-size: 12px;
    /* 12 */
}

.footer_company_info_list:nth-child(2) > span {

    margin-bottom: 20px;
} 
/* 주소, 번호 */

.footer_company_info_list:nth-child(2) > address {
    line-height: 160%;
}


.footer_company_info_list:nth-child(3){
    margin-right: 4.1667vw;
    /* 50 */
    font-size: 12px;
    /* 12 */

}
/* 프라이버시 */

.footer_company_info_list:last-child > button{
    width: 220px;
    height: 40px;
    border-radius: 10px;

    font-size: 12px;
}

.footer_company_info_list:last-child > button > img {
    width: 20px;

    margin-right: 10px;
}
/* mail */

.footer_info_inner > p {
    font-size: 12px;
}
.topBtn{

bottom: 30px;
right: 40px;
}

}