@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    /* 780 기준 */
/* home */


.home_img_logo > img {
    width: 110px;
}

.home_img_indicator_list > a {
    width: 10px;
    height: 10px;
}

.home_img_company_intro {
    width: 200px;
    height: 200px;
    right: 10%;
    bottom: -100px;
}

.home_img_company_intro > a >img {
    width: 50px;
    height: auto;
    position: absolute;
    left:38%;
    bottom: 150px;
}

.home_img_company_intro > a > span {
    font-size: 10px;
    border-bottom: 2px dotted var(--color-green);
    left:23%;
    bottom: 110px;
    line-height: 150%;
}
/* safety */

.safety_text {
    margin: 120px 0 120px 50px;
}

.safety_img {

    margin-right: 50px;

}

/* works */

.works_work > li {
    width: 90px;
    margin-right: 8px;
    font-size: 12px;
}

.works_img {
    margin-top: 140px;
}

    /* news */
    .news_contents_info_list {
        margin-left: 8%;
    }

    .news_contents_info_list > time {
        font-size: 14px;
        margin-right: 2.56410vw;
    }
   
    .news_contents_info_list > a:first-of-type {
        font-size: 10px;
        margin-right: 2.56410vw;
    }
    .news_contents_info_list > a:last-of-type {
        font-size: 12px;

    }
    

.footer_top_menu {
    max-width: 1024px;
}

.footer_top_menu_list > a > i {
    /* margin-right: 60px; */
    margin-right: 5vw;
}

/*  */

.footer_info {
    max-width: 1024px;
     padding: 7.6923vw 7.6923vw 30px 7.6923vw;
     /* padding: 60px */
}

.footer_company_info {
    margin-bottom: 80px;
}

.footer_company_info_list:first-child {
    margin-right: 3.8462vw;
    /* 30 */
}

.footer_company_info_list:first-child > img {
    width: 140px;
}

.footer_company_info_list:nth-child(2) {

    margin-right: 6.4103vw;
    /* 50 */
    font-size: 12px;
    /* 12 */
}

.footer_company_info_list:nth-child(2) > span {
    margin-bottom: 10px;
} 
/* 주소, 번호 */

.footer_company_info_list:nth-child(2) > address {
    line-height: 160%;
}


.footer_company_info_list:nth-child(3){
    margin-right: 4.1667vw;
    /* 50 */
    font-size: 12px;
    /* 12 */

}
/* 프라이버시 */

.footer_company_info_list:last-child > a{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    font-size: 12px;
}

.footer_company_info_list:last-child > a > img {
    width: 20px;
    margin-right: 10px;
}

.topBtn {
    bottom: 10px;
right: 40px;
}

.topBtn > i {
    font-size: 28px;
    }


}